---
# 让 Jekyll 编译此文件
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes"; // 主题核心

// 仅保留导入自定义文件，确保它在最后
@import "minimal-mistakes/custom";
